
body {
    background: #E6F4E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh sans', sans-serif;
}

.navbar {
    background: #011b12;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbarLogo {
    background-color: #0c6a0c;
    background-image: linear-gradient(to top, #8bc34b 20%, #0c6a0c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbarItem {
    height: 80px;
}

.navbarLinks {
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0c6a0c;
    color: #fff;
}

a.button {
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    a.button:hover {
        color: #000;
    }

    a.button:hover, li.navbarBtn {
        transition: 0.3s ease;
    }

.navbarBtn:hover {
    background: #CBB9A8;
    color: #000;
    transition: all 0.3s ease;
}

.navbarLinks:hover {
    color: #0c6a0c;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px) {
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbarMenu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

        .navbarMenu.active {
            background: #011b12;
            top: 100%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 50vh;
            font-size: 1.6rem;
            padding: 0;
        }

    #navbarLogo {
        padding-left: 25px;
    }

    .navbarToggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease;
        background: #fff;
    }

    .navbarItem {
        width: 100%;
    }

    .navbarLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobileMenu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbarBtn {
        padding: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .navbarToggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobileMenu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobileMenu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobileMenu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Cards css */


.container {
    margin-top: 15px;
}

.card .img-fit {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card {
    height: 100%;
    border: 0px solid #539a00;
    border-radius: 12px;
    background-color: #dceadc;
    text-align: center;
}

    .card img {
        display: block;
        margin: 0 auto;
    }

.card-img-top {
    border-radius: 5px 5px 0px 0px;
    width: 30%;
    height: 100%;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.card-text {
    flex-grow: 1;
}
@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45/1;
    }
}
/* Buttons to reservate the charger */
.custom-btn {
    color: #000; 
    background-color: #84B589; 
    
}
.custom-btn:hover{
    color: #fff;
    background-color:#456F40;
    
}
/* booking */
    input[type="text"],
    input[type="adress"],
    input[type="time"] {
    border-radius: 5px; 
    padding: 8px; 
    margin: 5px 0; 
    box-sizing: border-box; 
  }

.formContainer{
    background-color: #dceadc;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 450px;
    width: 80%;
    padding-top: 15px;
}
.formText{
    margin-top: 10px;
}
 label {
    display: block;
    margin-bottom: 5px;
}
.reserveBtn{
    color: #000; 
    background-color: #84B589;
    border-radius: 5px;
    padding: 10px; 
    cursor: pointer;
}
.reserveBtn:hover{
    color: #fff;
    background-color:#456F40;
}
.reserveBtnContainer{
    margin-top: 10px;
}

.toggle-button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.toggle-button.active {
  background-color: #4CAF50;
  color: white;
}


/* Rules */

.rulesContainer{
    background-color: #dceadc;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 620px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
}
/* admin page */
#adminLogo{
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 0;
}
#adminBar{
    padding-top: 40px;
}


.tableContainer{
    position: absolute;
    top: 5rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  background: #dceadc;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #2f933c;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #131313;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #95cd56;
}
.editBtn{
    color: #000; 
    background-color: #84B589;
    border-radius: 5px;
    padding: 10px; 
    cursor: pointer;
}
.editBtn:hover{
    color: #fff;
    background-color:#456F40;
    transition: all 0.3s ease;
}
.deleteBtn{
    color: #000; 
    background-color: #ffadb3;
    border-radius: 5px;
    padding: 10px; 
    cursor: pointer;
}
.deleteBtn:hover{
    color: #fff;
    background-color:#b0305f;
    transition: all 0.3s ease;
}

/* signup page */

.newUserContainer{
    background-color: #dceadc;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 500px;
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
}

.newUserContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newUserContainer input {
    margin-bottom: 10px;
    padding: 5px;
}